/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

body{
    display: grid;
    grid-template-areas: 
    "header header header"
    "aside  navigation ads"
    "aside main ads"
    "footer footer footer";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr 10fr 1fr;
}
.header,
.navigation,
.aside,
.main,
.ads,
.footer{
    padding: 10px;
}

.header {
    background-color: aquamarine;
    grid-area: header;
}
.navigation {
    background-color: darkgreen;
    grid-area: navigation;
}
.main {
    color: white;
    background-color: #242930;
    grid-area: main;
}
.aside {
    background-color:blue;
    grid-area: aside;
}
.ads {
    background-color: blueviolet;
    grid-area: ads;
}
.footer {
    color: white;
    display: grid;
    padding: 1rem 4rem;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    background-color: #3044a4;
    grid-area: footer;
}

.title-h1 {
    margin: 1.5rem 0;
    font-size: 4rem;
}
.title-h2{
    font-size: 3rem;
    margin: 1.5rem 0;
}
.title-h3{
    position: relative;
    font-size: 1.5rem;
    margin: 1rem 0;
}
.title {
    text-align: center;
}

.gallery {
    display: grid;
    grid-auto-flow: dense;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.gallery__img {
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#333333;
    transition: all 2s;
}
.gallery__img:hover {
    background-color:#e91e63;
    transition: all 2s;
}
.long_img {
    grid-column: span 2;
}
.long_long_img{
    grid-column: span 3;
}
.height_img {
    grid-row: span 2;
}
.img {
    height: 8rem;
    width: auto;
    margin: 0.5rem;
}
img{
    width: 100%;
    height: 100%;
}

.form__container{
    padding: 1rem;
    background-color: black;
}
.form {
    display: grid;
    gap: 1rem 4rem;
    grid-template-columns: repeat(2, 1fr);
}
.form label {
    font-size: 2rem;
}
.form__text {
    font-size: 1.5rem;
    color: white;
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    background-color: black;
    border-top: 2px solid #092e37;
}
.form__text:focus {
    background-color: #27cdf5;
}
.form__long_text {
    grid-column: span 2;
}
.button{
    font-size: 2rem;
    margin: 1rem 0;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #27cdf5;
}

.footer__container{

}
.footer__img__container {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}
.footer__img {
    margin: 0 1%;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    background-color: #3e56cb;
}

.title-h3::before{
    content: '';
    position: absolute;
    height: 0.2rem;
    width: 5rem;
    top: 100%;
    left: 0;
    background-color:#677088;
}

.footer ul li a{
    color: white;
}
.footer ul li{
    margin: 0.5rem 0;
}

@media (max-width:992px) {
    body{
        display: grid;
        grid-template-areas: 
        "header header"
        "navigation navigation"
        "aside main"
        "ads footer";
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 1fr 10fr 1fr;
    }

    .footer{
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .long_long_img{
        grid-column: span 3
    }
}

@media (max-width:767px) {
    body{
        display: grid;
        grid-template-areas: 
        "header"
        "navigation"
        "main"
        "aside"
        "ads"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 10fr 1fr 1fr 1fr;
    }

    .footer{
        grid-template-columns: 1fr;
    }

    .gallery {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: none;
    }

    .long_long_img{
        grid-column: span 1
    }
    .long_img{
        grid-column: span 1
    }
    .height_img {
        grid-row: span 1;
    }

    .form{
        grid-template-columns: 1fr;
    }
    .form__long_text {
        grid-column: span 1;
    }
}