*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html
{
    background: linear-gradient(90deg,#60efff 0, green 62%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_container {
    margin: 30px;
    border-radius: 15px;
    max-width: 400px;
    height: 400px;
    background-color: rgba(255,255,255,.7);
    padding: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding-top: 70px;
}
.form-title {
    display: block;
    font-size: 20px;
    width: 119px;
    font-weight: bold;
    color:black;
    margin-bottom: 40px;
    margin-left: 25px;
    border-bottom: 4px solid black;

}

input
{
    height: 30px;
    width: 80%;
    font-size: 14px;
    line-height: 16px;
    border-radius: 40px;
    padding: 15px;
    margin-left: 10px;
}
.form_fields {
}
.form_field {
    margin-bottom: 20px;
}
.form-button {
}
.button {
    margin: 15px;
    margin-left: 10px;
    display: block;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    text-transform: uppercase;
    line-height: 20px;
    text-align: center;
    background-color: white;
    color:grey;
    font-weight: bolder;
}

a
{
    color: orange;
    text-decoration: none;
}
p
{
    margin-left: 18px;
}